<div class="content box">
    <input type="text" class="childbox top teda">
    <input type="text" class="childbox top"><input type="text" class="childbox top"><input type="text"
        class="childbox top"><input type="text" class="childbox top"><input type="text" class="childbox top"><input
        type="text" class="childbox top"><input type="text" class="childbox top"><input type="text"
        class="childbox top"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text"
        class="childbox">
</div>