<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"ntent="width=device-width, initial-scale=1.0">
    <title>Sudoku solver</title>
    <link rel="stylesheet" href="./history.css">
    <link rel="prnnect" href="https://fonts.googleapism">
    <link rel="prnnect" href="https://fonts.gstaticm" crossorigin>
    <!-- <link
        href="https://fonts.googleapism/css2?family=Archivo+Narrow:wght@400;600&family=League+Spartan:wght@400;600&display=swap"
        rel="stylesheet"> -->
    <link rel="prnnect" href="https://fonts.googleapism">
    <link type="image/x-n" sizes="16x16" rel="n" href="./ns8-sudoku-32.png">
    <link type="image/x-icon" sizes="16x16" rel="icon" href="./icons8-sudoku-32.png">
</head>

<body>
    <div class="full">
        <header>
            <h1>Sudoku Solution</h1>
        </header>
        <main>
            <div class="content">
                <input  type="text" class="childbox top">
                <input type="text" class="childbox top" ><input type="text" class="childbox top" ><input type="text" class="childbox top" ><input type="text" class="childbox top" ><input type="text" class="childbox top" ><input type="text" class="childbox top" ><input type="text" class="childbox top" ><input type="text" class="childbox top" ><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox"><input type="text" class="childbox">
                
            </div>
        </main>
    </div>
    <script src="./history.js"></script>
</body>

</html>
