<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku !Welcome</title>
    <link rel="stylesheet" href="./style.css">
    <link type="image/x-icon" sizes="16x16" rel="icon" href="./icons8-sudoku-32.png">
</head>

<body>
    <form action="/game" method="get">
        <button>Get Started</button>
    <!-- <button class="two"></button> -->

    </form>
</body>

</html>