*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    background: url("https://media.istockphoto.com/id/1138471390/photo/womans-hand-with-a-pen-is-filling-out-sudoku.webp?b=1&s=170667a&w=0&k=20&c=OBl1ufvAmDtRos4__K9eV1CvaSE4ZqY4mbprb3Tl3G8=");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    height: 100px;
    width: 250px;
    border-color: rgb(237, 229, 229);
    background-color: rgb(213, 26, 26);
    font-size: 20px;
    border-radius: 45px;
    color: white;
    font-size: 35px; 
    /* margin-top: 80vh;    */
}
button:hover{
    background-color:rgb(66, 197, 77);
    color: rgb(28, 22, 22);
}
button:active{
    background-color: white;
}.two{
    height: 50px;
    width: 100px;
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 25px;
    /* margin-left: 80vw; */
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    color: black;
}